// card
.card {
  background-color: $White2;
  text-align: center;
  padding: 5rem 0;
  // border: 1px solid red;
  margin: 0 auto;
  margin-bottom: 1rem;
  max-width: 30rem;

  &__head {
    margin-bottom: 1rem;
    & img {
      border-radius: 50%;
      width: 5rem;
    }
  }
  &__body {
    padding: 0 2rem;
    padding-bottom: 3rem;
    & p {
      font-size: 1.4rem;
      line-height: 1.5;
      color: $Verydarkdesaturatedblue;
    }
  }
  &__footer {
    & h2 {
      color: $Verydarkdesaturatedblue;
      margin: 0.5rem 0;
    }
    & p {
      color: $Grayishblue;
      font-size: 1rem;
    }
  }
}
