$Softred: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$graphic-design-text: hsl(167, 40%, 24%);
$photography-text: hsl(198, 62%, 26%);
$footer: hsl(166, 36%, 64%);

$Verydarkdesaturatedblue: hsl(212, 27%, 19%);
$Verydarkgrayishblue: hsl(213, 9%, 39%);
$Darkgrayishblue: hsl(232, 10%, 55%);
$Grayishblue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);
$White2: hsla(0, 0%, 100%, 0.756);

$phone-sm: 23.4em;
$phone: 37.5em;
$tab-land: 47.5em;
$laptop: 56.25em;
$larger-screen: 75em;

$hundred: 100%;
